<!DOCTYPE HTML>
<html class="no-js">
    <head>
    <!-- Basic Page Needs

    Good for you! You are a curious one, we encourage curosity.

    See something awry? Want to maintain this site? Let's talk!

    info@secdsm.org - No MX Servers yet...

  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SecDSM - Archives</title>
    <meta name="description" content="SecDSM is a monthly network and information security meetup located in Des Moines, IA.">
    <meta name="keywords" content="cyber, cybersecurity, network security, des moines,iowa, secdsm, hacking, local, computer, security, network, information security, meetup, group, citysec">
    <meta name="author" content="SecDSM">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
  ================================================== -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <!-- Color Style -->
    <link href="../colors/color1.css" rel="stylesheet" type="text/css">
    <!-- SCRIPTS
  ================================================== -->
    <script src="../js/modernizr.js"></script><!-- Modernizr -->
    <script src="../js/jquery-2.0.0.min.js"></script> <!-- Jquery Library Call -->
    <script src="../js/helper-plugins.js"></script> <!-- Helper Plugins -->
    <script src="../js/bootstrap.js"></script> <!-- UI -->
    <script src="../js/waypoints.js"></script> <!-- UI -->
    <script src="../js/init.js"></script> <!-- All Scripts -->
    </head>
    <body class="home">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
        <div class="body">
        <!-- Start Site Header -->
            <header class="site-header sticky-header tranlucent">
                <div class="container-spec">
                    <div class="site-logo">
                        <h1>
<!--                            <a href="index.html"><img src="images/logo.png" alt="Logo"></a> -->
                        </h1>
                    </div>
                <!-- Main Navigation -->
                    <nav class="main-navigation">
                        <ul class="sf-menu">
                            <li><a href="../index.html#home">Home</a></li>
                            <li><a href="../index.html#schedule">Schedule</a></li>
                            <li><a href="../index.html#events">Events</a></li>
                            <li><a href="../index.html#venue">Venue</a></li>
                            <li><a href="../archives/archives.html">Archives</a></li>
                            <li><a href="../index.html#slack">Slack</a></li>
                            <li><a href="../about/index.html">About</a></li>
                        </ul>
                     </nav>
                     <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                </div>
            </header>
            <!-- End Site Header -->
            <!-- Start Body Content -->
            <div class="main" role="main">
                <div id="content" class="content full">
                    <div class="spacer-30"></div>
                    <section class="onepage-section archives" id="schedule">
                        <div class="container">
                            <header class="onepage-section-headers text-align-center">
                                <h3 class="page-title">The Archives</h3>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="accordion lgray-bg" id="toggleArea">
                                        <div class="accordion-group panel">
                                          {% for year in years %}
                                          <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{year.name}}"> {{year.name}} <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a></div>
                                          <div id="collapse{{year.name}}" class="accordion-body {% if forloop.first %}collapse{% endif %} in">
                                              {% for month in year.months %}
                                              <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{month.abbreviation}}{{year.name}}"> {{month.name}} {{year.name}} <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a></div>
                                              <div id="collapse{{month.abbreviation}}{{year.name}}" class="accordion-body collapse">
                                                    <div class="accordion-inner">
                                                    {% for talk in month.talks %}
                                                        <div class="event-task">
                                                          <h5>
                                                            <span class="accent-color-secondary">{{talk.presenter.name}}</span>
                                                            {{talk.presentation.title}}
                                                            {% for link in talk.presentation.links %}
                                                            <span class="label label-secondary">
                                                              <a href ="{{link.url}}"><i class="fa fa-{{link.type}}" aria-hidden="true"></i></a>
                                                            </span>
                                                            {% endfor %}

                                                          </h5>
                                                          {% if talk.presentation.description %}
                                                          <p>{{talk.presentation.description}}</p>
                                                          {% endif %}
                                                          {% if talk.presenter.bio %}
                                                          <p>{{talk.presenter.bio}}</p>
                                                          {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Start site footer bottom -->
            <footer class="site-footer-bottom gray-bg padding-tb20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 copyrights-left">
                            &copy; 2016 SecDSM. All Rights Reserved.
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 copyrights-right">
                        <ul class="social-icons pull-right">
                            <li><a href="https://twitter.com/secdsm" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://secdsm.slack.com/" target="_blank"><i class="fa fa-slack"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        <!-- End site footer -->
        </div>
    </body>
</html>
